body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4%; /* Espacio entre los paneles */
    padding: 0 2%; /* Margen desde los lados de la pantalla */
    box-sizing: border-box;
}

.side-panel {
    width: 20%;
    height: 80vh;
    background-color: #e0e0e0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-panel {
    width: 40%;
    aspect-ratio: 1 / 1;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
