.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}

.blackCell {
  background-color: #343434;
}

.whiteCell {
  background-color: #bdbdbd;
}

.chessPiece {
  width: 90%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  user-select: none;
}

.chessPiece:hover {
  cursor: grab;
}

.chessPiece:active {
  cursor: grabbing;
}
